<%- include ('../partials/menu') %>

<!-- <h1><%= producto.title %></h1> -->

<section class="container my-5" style="height: 79vh;">
    <h1 class="title text-center">Detalle del producto</h1>
    <hr/>
    <div class="row">

        <div class="card col-4" style="border-radius: 10px;">
            <img style="width: 300px;" src=<%= producto.thumbnail %> />
            <h4 class="title text-center"><%= producto.title %></h4>
            <p class="text-center">Precio: $<%= producto.price %></p>
            <p class="text-center">Id: <%= producto.id %></p>
        </div>

    </div>
</section>
