<%- include ('./partials/menu.ejs') -%>

<h1 class="text-center">Contacto</h1>
<div class="bg-warning m-5">
    <% if (typeof errors != 'undefined') { %> 
    <ul>
    <% errors.forEach((error) => { %>
        <li><%= error.msg %></li>
    <% }) %>
    </ul>
    <% } %>
</div>



<form action="/contacto" method="post" class="container mt-3 jumbotron" style="border-radius: 10px;">
    <div class="form-group">
        <div>
            <label class="col-12" for="nombre">Nombre: </label>
            <input class="col-12" type="text" name="nombre" id="nombre" value="<%= values.nombre %>" required>
        </div>
        <div>
            <label class="col-12" for="email">Correo: </label>
            <input class="col-12" type="text" name="email" id="email" value="<%= values.email %>">
        </div>
        <div>
            <label class="col-12" for="mensaje">Mensaje: </label>
            <textarea class="col-12" name="mensaje" id="mensaje" cols="30" rows="10"><%= values.mensaje %></textarea>
        </div>
        <button type="submit" class="btn btn-success mt-3">Enviar</button>
    </div>
</form>

<br> 